
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:#333;
}
body{
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
  background-color: white;
}
a{
  color: red;
  text-decoration: none;
}
.container{
  padding: 0 1rem;
}
.btn{
  display: inline-block;
  color: white;
  background-color: #555;
  border: none;
  padding: 7px 20px;
  cursor: pointer;

}
.btn:hover{
  background: #666;
}
